<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Words and buttons online</title>
    <meta name="description" content="A growing collection of interactive tutorials, guides and quizzes about maths, algorithms, and programming">
    <meta name="keywords" content="">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<style>
body{
	margin: 0 0 0 0;
}

a{
	text-decoration: none;
}

h1 {
	padding-top: 36pt;
	font-size: 24pt;
	width: 600pt;
	text-align: left;
}

h2 {
	padding-top: 20pt;
	font-size: 20pt;
	width: 555pt;
	text-align: left;
}

h3 {
	padding-top: 12pt;
	font-size: 16pt;
	width: 505pt;
	text-align: left;
}

p {
	line-height: 1.42;
	font-size: 16pt;
	width: 505pt;
	text-align: left;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

ul {
	padding-left: 0pt;
	list-style-type: circle;
}

li {
	font-size: 16pt;
	width: 505pt;
	text-align: left;
	padding-bottom: 16pt;
	margin-left: 0pt;
}

.footer {
	width: 555pt;
	margin-top: 64pt;
	padding-bottom: 32pt;
	font-family: sans-serif;
	font-size: 16pt;
	text-align: left;
}

.title {
	width: 555pt;
	padding-top: 24pt;
	font-size: 18pt;
	margin-bottom: 6pt;
}

.timestamp {
	padding-left: 6pt;
	font-family: sans-serif;
	font-size: 12pt;
	color: #888;
}

.description {
	margin-top: 6pt;
	margin-bottom: 6pt;
}

.links {
	margin-top: 6pt;
	font-family: sans-serif;
	font-size: 14pt;
}
	</style>
</head>
<body>
	<center>
	<h1>Title</h1>
	<p>Description</p>
	<div id="menu"></div>
	<div style="height: 24pt;"></div>
	<div id="timeline"></div>

	<p class="footer">
All the sources are available on <a href="https://github.com/akalenuk/wordsandbuttons">GitHub</a> under <a href="http://unlicense.org/">The Unlicense</a>.
	<br><br>
There is also <a href="faq.html"><span style="letter-spacing: 1pt;">FAQ</span></a>, 
<a href="https://twitter.com/wordsandbuttons">Twitter</a> 
and <a href="https://wordsandbuttons.online/rss"><span style="letter-spacing: 1pt;">RSS</span></a> with all the news.
	</p>
	</center>
</body>
</html>
