body{
    margin: 0 0 0 0;
}

a{
    text-decoration: none;
}

h1 {
    padding-top: 32pt;
    font-size: 24pt;
    width: 600pt;
    text-align: left;
}

h2 {
    padding-top: 16pt;
    font-size: 20pt;
    width: 555pt;
    text-align: left;
}

p {
    font-size: 16pt;
    width: 505pt;
    text-align: left;
}

.footer {
    margin-top: 100pt;
    padding-bottom: 36pt;
    font-family: sans-serif;
    font-size: 14pt;
}

pre {
    margin: 0 0 0 0;
    padding-top: 12pt;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-bottom: 12pt;
    font-size: 16pt;
    text-align: left;
    width: 450pt;
}

.code {
    background-color: #ccccff;
}

form {
    margin: 0 0 0 0;
    padding-top: 12pt;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-bottom: 12pt;
    font-size: 24pt;
    text-align: left;
    width: 450pt;
    background-color: #ffffcc;
}

table {
    font-size: 22pt;
    width: 505pt;
    text-align: center;
    background-color: #ffffcc;
}

td {
    padding: 6pt;
    border: 1px solid black;
}

input[type="radio"]{
    width: 22pt;
    height: 22pt;
    margin: 8pt 8pt 8pt 8pt;
}

button[type="submit"]{
    width: 300pt;
    height: 84pt;
    margin-left:4pt;
    margin-right:4pt;
    font-size: 24pt;
}

